<!DOCTYPE html>
<html lang="en">

<!-- Header -->
{{>header}}

<body>
   {{>navigation}}

    <div>
        <p>TEXT</p>
    </div>
    <!-- Footer Start -->
    {{>footer}}

    <!-- JavaScript Libraries -->
    {{>javascript_libraries}}
</body>

</html>